body{
    background-image: url("../fondoMickey.jpg");
    background-size: cover;
    overflow: auto;
    background-attachment:fixed;
    background-repeat: no-repeat;

}
h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   
}

hr{
    display: none;
}